<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de usuarios</title>
</head>
<body>
<div>
    <h1>Añadir usuario</h1>
    <form action="/user_add" method="post">
        {{ user_form.hidden_tag() }}  <!-- Campo oculto para protección CSRF -->
        {{ user_form.username.label }}<br>
        {{ user_form.username(size=20) }}<br>
        {{ user_form.password.label }}<br>
        {{ user_form.password(size=20) }}<br>
        {{ user_form.email.label }}<br>
        {{ user_form.email(size=30) }}<br><br>
        {{ user_form.submit }}
    </form>
</div>
<div>
    <h2>Lista de usuarios</h2>
    <form action="/user_remove" method="post">
        {{ remove_user_form.hidden_tag() }}  <!-- Campo oculto para protección CSRF -->
        {{ remove_user_form.username.label }}<br>
        {{ remove_user_form.username(size=20) }}<br><br>
        {{ remove_user_form.submit }}
    </form>
</div>
</body>
</html>