<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de usuarios</title>
</head>
<body>
<div>
    <h1>Añadir usuario</h1>

        <form action="/add" method="post">
            <label for="username">Usuario:</label><br>
                <input type="text" id="username" name="username"><br>
            <label for="password">Contraseña:</label><br>
                <input type="password" id="password" name="password"><br>
            <label for="email">Email:</label><br>
                <input type="email" id="email" name="email"><br><br>
            <input type="submit" value="Añadir Usuario">
        </form>
</div>
<div>
    <h2>lista de usuarios</h2>
        
    <form action="/remove" method="post">
        <select multiple name="user.username">    
            {% for user in users %}
                <option value="{{ user.username }}">
                    <b>Usuario:</b> {{ user.username }} - <b>Contraseña:</b> {{ user.password_hash }} - <b>Correo:</b> {{ user.email }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Eliminar usuario">
    </form>
</div>
</body>
</html>